<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<nav class="navbar">
    <div class="navbar-left">
        <ul class="nav-links">
            <li><a routerLink="/personal-area"><i class="fa-solid fa-user"></i></a></li>
            <li><a routerLink="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a routerLink="/favorites"><i class="fa-solid fa-heart"></i></a></li>
        </ul>
    </div>
    
    <div class="navbar-center">
        <div class="logo">FindMyBite</div>
    </div>
    
    <div class="navbar-right">
        <ul class="nav-right-links">
            <li><input type="text" class="search-bar" placeholder="Find the perfect meal…"/></li>
            <li><button class="login-btn">Sign In <i class="fa-solid fa-arrow-right-to-bracket"></i></button></li>
            <li *ngIf="!isDarkMode"><button class="mode-btn" (click)="ChangeMode()"><i class="fa-solid fa-moon"></i></button></li>
            <li *ngIf="isDarkMode"><button class="mode-btn" (click)="ChangeMode()"><i class="fa-solid fa-sun"></i></button></li>
        </ul>
    </div>
  </nav>
  